.u-section-1 {
  background-image: url("images/IMG-1158.JPG");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 608px;
}

.u-section-1 .u-group-1 {
  min-height: 235px;
  width: 1158px;
  margin: 95px -18px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 85px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 21px 0 0;
}

.u-section-1 .u-list-1 {
  min-height: 226px;
  grid-gap: 10px 10px;
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-template-rows: auto;
  width: 905px;
  margin: 52px auto 0;
}

.u-section-1 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 68px;
  width: 68px;
  margin: 0 43px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 16px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 68px;
  width: 68px;
  margin: 0 43px 0 auto;
}

.u-section-1 .u-text-4 {
  margin: 16px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 68px;
  width: 68px;
  margin: 0 43px 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 16px auto 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  padding: 0;
}

.u-section-1 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 68px;
  width: 68px;
  margin: 0 43px 0 auto;
}

.u-section-1 .u-text-6 {
  margin: 16px auto 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-1 .u-group-1 {
    min-height: 312px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    position: relative;
  }

  .u-section-1 .u-text-2 {
    position: relative;
  }

  .u-section-1 .u-list-1 {
    min-height: 206px;
    height: auto;
    margin-top: 31px;
    margin-bottom: 31px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-1 .u-group-1 {
    min-height: 335px;
    position: relative;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    min-height: 391px;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    width: 656px;
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 37px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-icon-2 {
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-icon-3 {
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-icon-4 {
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1131px;
  }

  .u-section-1 .u-list-1 {
    min-height: 730px;
    grid-template-columns: 100%;
    margin-bottom: 0;
    margin-top: 37px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 761px;
}

.u-section-2 .u-text-1 {
  width: 680px;
  margin: 41px auto 0;
}

.u-section-2 .u-video-1 {
  height: 638px;
  margin-top: 14px;
  margin-bottom: 25px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-2 .u-video-1 {
    height: 500px;
    width: 889px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-video-1 {
    height: 345px;
    width: 614px;
    margin-top: 20px;
    margin-bottom: 48px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-video-1 {
    height: 281px;
    width: 497px;
    margin-top: 22px;
    margin-bottom: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 327px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 18px;
    width: 340px;
  }

  .u-section-2 .u-video-1 {
    height: 235px;
    width: 417px;
    margin: 14px -39px 32px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 775px;
}

.u-section-3 .u-line-1 {
  height: 126px;
  transform-origin: center bottom 0px;
  margin: 1px 0 0 auto;
}

.u-section-3 .u-shape-1 {
  height: 479px;
  width: 603px;
  margin: -27px 160px 0 auto;
}

.u-section-3 .u-group-1 {
  min-height: 621px;
  width: 663px;
  margin: -578px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 800;
  margin: 50px 1px 0 19px;
}

.u-section-3 .u-text-2 {
  margin: 14px 0 0;
}

.u-section-3 .u-line-2 {
  position: relative;
  height: 148px;
  transform-origin: center top 0px;
  transform: rotate(359.995deg);
  margin: 4px -1px 1px 1140px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 812px;
  }

  .u-section-3 .u-line-1 {
    height: 135px;
    transform-origin: center top 0px;
    width: 1px;
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-shape-1 {
    height: 495px;
    width: 665px;
    margin-top: 32px;
    margin-right: -1px;
  }

  .u-section-3 .u-group-1 {
    min-height: 681px;
    width: 465px;
    margin-top: -644px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    font-weight: 700;
    margin-top: 113px;
    margin-left: 16px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: -260px;
    margin-left: 84px;
  }

  .u-section-3 .u-line-2 {
    width: 1px;
    transform: rotate(360deg);
    margin-top: -37px;
    margin-bottom: 2px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 855px;
  }

  .u-section-3 .u-line-1 {
    margin-right: -1px;
  }

  .u-section-3 .u-shape-1 {
    height: 583px;
    width: 509px;
    margin-top: 5px;
    margin-right: 0;
  }

  .u-section-3 .u-group-1 {
    min-height: 729px;
    width: 544px;
    margin-top: -656px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 11px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 23px;
    margin-right: 2px;
    margin-left: 11px;
  }

  .u-section-3 .u-line-2 {
    height: 131px;
    transform-origin: center bottom 0px;
    margin-top: -73px;
    margin-bottom: 0;
    transform: rotate(359.995deg);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1136px;
  }

  .u-section-3 .u-line-1 {
    margin-right: auto;
  }

  .u-section-3 .u-shape-1 {
    height: 864px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-1 {
    min-height: 1005px;
    margin-top: -1005px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 143px;
    margin-right: 8px;
    margin-left: 9px;
  }

  .u-section-3 .u-text-2 {
    width: 430px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-line-2 {
    transform: rotate(360deg);
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1221px;
  }

  .u-section-3 .u-shape-1 {
    position: relative;
    height: 331px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    min-height: 1164px;
    width: 340px;
    margin-top: -86px;
    margin-right: auto;
    margin-left: -6px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 55px;
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 6px;
    margin-right: 0;
    margin-left: 21px;
  }

  .u-section-3 .u-line-2 {
    height: 96px;
    margin-top: -84px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 824px;
}

.u-section-4 .u-tabs-1 {
  min-height: 717px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-4 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-4 .u-tab-pane-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  line-height: 1.8;
  margin: 0;
}

.u-section-4 .u-slider-1 {
  width: 1017px;
  min-height: 531px;
  margin: 18px 26px 0 37px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 60px;
}

.u-section-4 .u-image-1 {
  width: 806px;
  height: 451px;
  margin: 18px auto -28px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  width: 806px;
  height: 450px;
  margin: 18px auto 0;
}

.u-section-4 .u-carousel-control-1 {
  width: 59px;
  height: 59px;
}

.u-section-4 .u-carousel-control-2 {
  width: 59px;
  height: 59px;
}

.u-section-4 .u-tab-pane-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  line-height: 1.8;
  margin: 0;
}

.u-section-4 .u-slider-2 {
  width: 1017px;
  min-height: 531px;
  margin: 30px 26px 0 auto;
}

.u-section-4 .u-carousel-indicators-2 {
  position: absolute;
  bottom: 10px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 30px 60px;
}

.u-section-4 .u-image-3 {
  width: 806px;
  height: 451px;
  margin: 18px auto -28px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  width: 806px;
  height: 450px;
  margin: 18px auto 0;
}

.u-section-4 .u-carousel-control-3 {
  width: 59px;
  height: 59px;
}

.u-section-4 .u-carousel-control-4 {
  width: 59px;
  height: 59px;
}

.u-section-4 .u-text-3 {
  margin: 30px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 11px auto 20px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-tabs-1 {
    height: auto;
  }

  .u-section-4 .u-slider-1 {
    width: 880px;
    height: auto;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: 30px;
    margin-bottom: -299px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 30px;
    margin-bottom: -9px;
  }

  .u-section-4 .u-slider-2 {
    width: 880px;
    height: auto;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-4 .u-tabs-1 {
    min-height: 630px;
  }

  .u-section-4 .u-slider-1 {
    width: 700px;
    min-height: 416px;
    margin-right: -10px;
    margin-left: -30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-image-1 {
    width: 608px;
    height: 356px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-4 .u-image-2 {
    width: 610px;
    height: 334px;
    margin-top: 0;
  }

  .u-section-4 .u-slider-2 {
    width: 680px;
    min-height: 418px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-image-3 {
    height: 328px;
    width: 590px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-4 .u-image-4 {
    width: 592px;
    height: 330px;
    margin-top: 0;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 27px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-4 .u-tabs-1 {
    min-height: 593px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 323px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    width: 447px;
    height: 228px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    width: 446px;
    height: 252px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-slider-2 {
    min-height: 324px;
    width: 520px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    width: 443px;
    height: 260px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    width: 452px;
    height: 256px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 14px;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 22px;
    margin-bottom: 37px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-4 .u-tabs-1 {
    min-height: 590px;
    width: 398px;
    margin-left: -29px;
    margin-right: -29px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 359px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    width: 320px;
    height: 164px;
  }

  .u-section-4 .u-image-2 {
    width: 320px;
    height: 181px;
  }

  .u-section-4 .u-slider-2 {
    min-height: 250px;
    width: 320px;
  }

  .u-section-4 .u-image-3 {
    width: 320px;
    height: 188px;
  }

  .u-section-4 .u-image-4 {
    width: 320px;
    height: 181px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 8px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-bottom: 29px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 302px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 9px 477px 0 20px;
}

.u-section-5 .u-line-1 {
  width: 94px;
  transform-origin: left center 0px;
  margin: 9px auto 0 20px;
}

.u-section-5 .u-shape-1 {
  height: 227px;
  width: 561px;
  margin: -1px 153px 0 auto;
}

.u-section-5 .u-text-2 {
  font-weight: 300;
  font-size: 1.25rem;
  margin: -213px 127px 0;
}

.u-section-5 .u-text-3 {
  background-image: none;
  font-size: 1rem;
  animation-duration: 1000ms;
  margin: 47px 248px 60px 146px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 277px;
  }

  .u-section-5 .u-line-1 {
    margin-top: 20px;
    margin-right: 277px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 26px;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: 803px;
    margin-top: -219px;
    margin-right: 132px;
    margin-left: 5px;
  }

  .u-section-5 .u-text-3 {
    width: 774px;
    margin-right: 161px;
    margin-left: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 289px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 57px;
  }

  .u-section-5 .u-line-1 {
    margin-top: 18px;
    margin-right: auto;
  }

  .u-section-5 .u-shape-1 {
    height: 222px;
    width: 482px;
    margin-top: -10px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.125rem;
    width: 720px;
    margin-top: -206px;
    margin-right: 50px;
    margin-left: 7px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin: 27px 21px 27px 7px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 34px;
    margin-right: 0;
  }

  .u-section-5 .u-line-1 {
    margin-top: 9px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-2 {
    margin-top: -222px;
    margin-left: 53px;
    margin-right: 53px;
    width: 540px;
  }

  .u-section-5 .u-text-3 {
    width: 427px;
    margin: 16px 57px 49px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-line-1 {
    width: 0;
    margin-top: -70px;
    margin-left: -745px;
  }

  .u-section-5 .u-shape-1 {
    height: 296px;
    margin-top: 19px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-2 {
    margin-top: -284px;
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-5 .u-text-3 {
    width: 340px;
    margin: 37px 0 40px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 414px;
}

.u-section-6 .u-line-1 {
  width: 194px;
  height: 6px;
  margin: 34px auto 0 0;
}

.u-section-6 .u-list-1 {
  min-height: 314px;
  grid-gap: 10px 10px;
  grid-template-columns: calc(25% - 8px) calc(25% - 8px) calc(25% - 8px) calc(25% - 8px);
  grid-template-rows: auto;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 0;
}

.u-section-6 .u-list-item-1 {
  animation-duration: 1000ms;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  height: 183px;
  width: 183px;
  background-image: url("images/mohamad.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-1 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-6 .u-list-item-2 {
  animation-duration: 1000ms;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  height: 183px;
  width: 183px;
  background-image: url("images/mojtaba.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-6 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  height: 183px;
  width: 183px;
  background-image: url("https://avatars0.githubusercontent.com/u/1321193");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-6 .u-list-item-4 {
  animation-duration: 1000ms;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-image-4 {
  height: 183px;
  width: 183px;
  background-image: url("images/sarath-chandar.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-6 .u-line-1 {
    margin-top: 0;
  }

  .u-section-6 .u-list-1 {
    min-height: 259px;
    height: auto;
    margin-top: 44px;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    height: 165px;
    width: 165px;
  }

  .u-section-6 .u-image-2 {
    height: 165px;
    width: 165px;
  }

  .u-section-6 .u-image-3 {
    height: 165px;
    width: 165px;
  }

  .u-section-6 .u-image-4 {
    height: 165px;
    width: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-6 .u-line-1 {
    margin-top: 43px;
  }

  .u-section-6 .u-list-1 {
    min-height: 638px;
    grid-template-columns: calc(((100% - 720px) / 2) + 355px) calc(((100% - 720px) / 2) + 355px);
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-6 .u-list-1 {
    grid-template-columns: calc(((100% - 540px) / 2) + 265px) calc(((100% - 540px) / 2) + 265px);
    margin-bottom: 0;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1124px;
  }

  .u-section-6 .u-line-1 {
    margin-top: 20px;
  }

  .u-section-6 .u-list-1 {
    min-height: 1094px;
    margin-top: 0;
    grid-template-columns: 100%;
    margin-bottom: 4px;
    margin-left: initial;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 154px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 927px;
  margin: 25px 86px 40px auto;
}

.u-section-7 .u-image-1 {
  min-height: 129px;
  background-image: url("images/mila_logo.png");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-image-2 {
  min-height: 129px;
  background-image: url("images/udem.png");
}

.u-section-7 .u-image-3 {
  min-height: 129px;
  background-image: url("images/poly.png");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.u-section-7 .u-image-4 {
  min-height: 129px;
  background-image: url("images/fb.png");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
    margin-top: 57px;
    margin-bottom: 57px;
    margin-right: 13px;
  }

  .u-section-7 .u-image-1 {
    min-height: 157px;
  }

  .u-section-7 .u-image-2 {
    min-height: 157px;
    background-position: 50% 50%;
  }

  .u-section-7 .u-image-3 {
    min-height: 157px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-7 .u-image-4 {
    min-height: 157px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-layout-wrap-1 {
    margin-right: 0;
    width: 720px;
  }

  .u-section-7 .u-image-1 {
    min-height: 100px;
  }

  .u-section-7 .u-image-2 {
    min-height: 100px;
  }

  .u-section-7 .u-image-3 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-image-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1062px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 250px;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .u-section-7 .u-image-1 {
    min-height: 263px;
  }

  .u-section-7 .u-image-2 {
    min-height: 263px;
  }

  .u-section-7 .u-image-3 {
    min-height: 263px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-7 .u-image-4 {
    min-height: 263px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-1 {
    min-height: 157px;
  }

  .u-section-7 .u-image-2 {
    min-height: 157px;
  }

  .u-section-7 .u-image-3 {
    min-height: 157px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .u-section-7 .u-image-4 {
    min-height: 157px;
  }
}